/* src/App.css */

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.form-container {
  border: 2px solid black;
  padding: 0px 50px 50px 50px;
  width: 1400px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-image {
  height: 140px;
  width: auto;
}

.divider {
  border: 0;
  width: 600px; 
  height: 5px;
  background-color: #000000;
  margin: 20px 0;
  border-radius: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-field {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border: 3px solid black;
  border-radius: 100px;
  outline: none;
  font-size: 20px;
  text-align: center;
}

.submit-button, .toggle-button {
  padding: 20px;
  width: 150px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 20px;
}

.submit-button {
  margin-top: 10px;
}

.toggle-button {
  background-color: #333;
}
